body {
    font-family:'Courier New', Courier, monospace;
    color: #EDF7F6;
    background: #4D5359;
    padding: 0 40px;
}

table, th, td {
    border: #26292C 2px solid;
    background: #535960;
    margin: auto;
}

table td{
    padding: 10px;
}
table td strong{
    padding: 10px;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 10px;
    margin-top: 100px;
    text-align: center;
}
